<h2>Welcome</h2>
<section class="thirdPartyLogin">
  <aside class="arrow">Sign in (or sign up) with an account you already have</aside>
  <%= link_to "Login with Facebook", "/auth/facebook", class: "fbLink" %>
  <%= link_to "Login with Twitter", "/auth/twitter", class: "twitterLink" %>
</section>

<div class="separator">
  <hr>
  <em>or</em>
  <hr>
</div>

<section class="nativeLogin">
  <aside>Or use an account right here</aside>
  <%= render partial: "sign_up" %>
  <%= render partial: "sign_in" %>
</section>