<h2>Welcome</h2>

<%= render partial: "sessions/third_party" %>

<div class="separator">
  <hr>
  <em>or</em>
  <hr>
</div>

<section class="nativeLogin">
  <aside>Or use an account right here</aside>
  <%= render partial: "sessions/sign_up" %>
  <%= render partial: "sessions/sign_in", locals: {alert: alert} %>
</section>