<h2>Welcome</h2>

<%= render partial: "third_party" %>

<div class="separator">
  <hr>
  <em>or</em>
  <hr>
</div>

<section class="nativeLogin">
  <aside>Or use an account right here</aside>
  <%= render partial: "sign_up" %>
  <%= render partial: "sign_in" %>
</section>