<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <p>
      To reset your password, <%= link_to "hit this link", reset_password_path(token: @user.resetPasswordCode) %>.
    </p>
    <p>-Your friends at CatchLater</p>
	<p>P.S. If you didn't initiate this email, feel free to ignore this message and carry on with your day.</p>
  </body>
</html>