/**
* Home Page
*/
@mixin homepad($bottom: 50px) {
  padding:10px 12% $bottom;
}

#home {
  background:#FFF;
  h1 {
    font-size:148px;
    letter-spacing:-3px;
    @include textShadow;
  }
}
#top {
  background:url(/images/bg.png);
  position:relative;
  @include textShadow;
  @include boxShadow(3px, 9px);
  @include homepad(70px);
}
#bottom {
  @include homepad;
  min-height:400px;
  section {
    float:left;
    padding:0 20px;
    text-align:center;
    width:370px;
    img {
      border:6px solid #FFF;
      @include boxShadow;
      border-radius:10px;
      display:block;
      margin:26px auto 0;
    }
  }
}
.teaser {
  font-size:28px;
}
.signup {
  border-radius:8px;
  border:1px solid #FFF;
  @include boxShadow;
  @include button;
  display:inline-block;
  font-size:30px;
  margin-top:20px;
  padding:20px 34px 26px;
  text-decoration:none;
  @include textShadow(1px, #000);
}
.existingSignin {
  position:absolute;
  right:0;
  top:0;
  @include homepad;
  a {
    font-weight:bold;
    text-decoration:none;
  }
}


@media only screen and (max-width: 1618px) {
  #bottom {
    section:nth-child(3) {
      padding-left:200px;
    }
  }
}
@media only screen and (max-width: 1080px) {
  #home {
    h1 {
      font-size:100px;
    }
  }
  #bottom {
    padding-right:10px;
    padding-left:10px;
  }
}
@media only screen and (max-width: 838px) {
  #bottom {
    section:nth-child(3) {
      padding-left:20px;
    }
  }
}
@media only screen and (max-width: 800px) {
  #home {
    h1 {
      font-size:60px;
      margin-top:20px;
      padding:6px;
    }
  }
  #bottom {
    section {
      float:none;
      width:90%;
    }
  }
}
@media only screen and (max-width: 400px),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (-webkit-min-device-pixel-ratio: 2) {
  #home {
    h1 {
      margin-left:-20px;
      font-size:54px;
    }
  }
  .signup {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 40px;
  }
  .existingSignin {
    top:-5px;
    padding-right:5px;
    font-size:smaller;
  }
}