@mixin videoArea {
  margin: auto;
  width: 560px;
}

.queue {
  text-align:center;
  .video {
    border-bottom:1px solid #E2E2E2;
    border-top:2px solid #FFF;
    padding:70px 0;
    &:first-child { border-top:0; }
    iframe {
      border: 0;
      height: 349px;
      @include videoArea;
    }
    .aux {
      display:block;
      margin: auto;
      @include videoArea;
      text-align:right;
      a {
        color:#000;
        padding-left:7px;
      }
      .date {
        float:left;
      }
    }
    .tags {
      display:block;
      font-size:.86em;
      @include videoArea;
      text-align:left;
    }
  }
  .pagination {
    padding:20px 0;
    .disabled {
      display:none;
    }
    .current {
      font-style:normal;
    }
    a {
      padding:0 5px;
    }
  }
}