@import "mixins";

html {
  background: url(/images/grayBg.png);
}
body {  
  font-family:'News Cycle';
  font-size:20px;
  -webkit-font-smoothing: antialiased;
  @include nomargin;
  @include textShadow(1px);
}
a {
  color:#041B4F;
}
h1 {
  color:#a6734b;
  font-family:'Molengo';
  font-size:46px;
  letter-spacing:.5px;
  @include nomargin;
  width:80%;
}
h2 {
  color:#469B98;
  font-size:34px;
  font-weight:normal;
  em {
    color:#47639d;
    font-style:normal;
  }
}
h3 {
  color:#555;
  @include textShadow(1px);
}
h3.rule {
  border-bottom:1px solid #BBB;
  padding-bottom:8px;
}

header {
  border-bottom:1px solid #FFF;
  background-color:#006c6d;
  @include wrapping;
  h1 {
    display:inline;
    a {
      color:#a6734b;
      text-decoration:none;
    }
  }
  #helloAgain {
    float:right;
    padding-top:24px;
    a.signout {
      color:#A2A2A2;
      padding-left:10px;
    }
    a.userLink {
      color:#010101;
      text-decoration:none;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
    }
    a.userLink:hover,
    a.userLink:focus {
      color:#A2A2A2;
      text-decoration:underline;
    }
    @include textShadow(1px, rgba(255, 255, 255, .3));
  }
}
.queue {
  text-align:center;
  .video {
    border-bottom:1px solid #E2E2E2;
    border-top:2px solid #FFF;
    padding:70px 0;
    &:first-child { border-top:0; }
    iframe {
      border: 0;
      height: 349px;
      width: 560px;
    }
    .aux {
      display:block;
      margin: auto;
      width: 560px;
      text-align:right;
      a {
        color:#000;
        padding-left:7px;
      }
      .date {
        float:left;
      }
    }
  }
  .pagination {
    padding:20px 0;
    .disabled {
      display:none;
    }
    .current {
      font-style:normal;
    }
    a {
      padding:0 5px;
    }
  }
}
#main {
  @include wrapping;
}

@import "home";
@import "forms";
