@import "mixins";

html {
  background: url(/images/grayBg.png);
}
body {  
  font-family:'News Cycle';
  font-size:20px;
  -webkit-font-smoothing: antialiased;
  @include nomargin;
  @include textShadow(1px);
}
a {
  color:#041B4F;
}
h1 {
  color:#a6734b;
  font-family:'Molengo';
  font-size:46px;
  letter-spacing:.5px;
  @include nomargin;
  width:80%;
}
h2 {
  color:#469B98;
  font-size:34px;
  font-weight:normal;
  em {
    color:#47639d;
    font-style:normal;
  }
}
header {
  border-bottom:1px solid #FFF;
  background-color:#006c6d;
  @include wrapping;
  h1 {
    display:inline;
    a {
      color:#a6734b;
      text-decoration:none;
    }
  }
  #helloAgain {
    float:right;
    padding-top:24px;
    a {
      color:#A2A2A2;
      padding-left:10px;
    }
    @include textShadow(1px, rgba(255, 255, 255, .3));
  }
}
.queue {
  text-align:center;
  .video {
    border-bottom:2px solid #FFF;
    margin:40px 0 100px;
    .aux {
      border-bottom:1px solid #E2E2E2;
      display:block;
      padding:0 392px 35px;
      text-align:right;
      a {
        color:#000;
        padding-left:7px;
      }
      .date {
        float:left;
      }
    }
  }
}
#main {
  @include wrapping;
}

@import "home";
@import "forms";
