/**
* Mixins
*/
html {
  background: url(/images/grayBg.png); }

body {
  font-family: 'News Cycle';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-shadow: 0 1px 0 white; }

a {
  color: #041B4F; }

h1 {
  color: #a6734b;
  font-family: 'Molengo';
  font-size: 46px;
  letter-spacing: .5px;
  margin: 0;
  width: 80%; }

h2 {
  color: #469B98;
  font-size: 34px;
  font-weight: normal; }
  h2 em {
    color: #47639d;
    font-style: normal; }

header {
  border-bottom: 1px solid #FFF;
  background-color: #006c6d;
  padding: 0 10%; }
  header h1 {
    display: inline; }
    header h1 a {
      color: #a6734b;
      text-decoration: none; }
  header #helloAgain {
    float: right;
    padding-top: 24px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

.queue {
  text-align: center; }
  .queue .video {
    border-bottom: 2px solid #EEE;
    margin: 40px 0 100px; }
    .queue .video .aux {
      padding-bottom: 20px; }

#main {
  padding: 0 10%; }

/**
* Home Page
*/
#home {
  background: #FFF; }
  #home h1 {
    font-size: 148px;
    letter-spacing: -3px;
    text-shadow: 0 2px 0 white; }

#top {
  background: url(/images/bg.png);
  position: relative;
  text-shadow: 0 2px 0 white;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  padding: 10px 12% 70px; }

#bottom {
  padding: 10px 12% 50px;
  min-height: 400px; }
  #bottom section {
    float: left;
    padding: 0 20px;
    text-align: center;
    width: 370px; }
    #bottom section img {
      border: 6px solid #FFF;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      display: block;
      margin: 26px auto 0; }

.teaser {
  font-size: 28px; }

.signup {
  border-radius: 8px;
  border: 1px solid #FFF;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #FFF;
  cursor: pointer;
  background: #5adcd3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5adcd3), color-stop(50%, #55dbd0), color-stop(51%, #5adcd3), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* IE10+ */
  background: linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* W3C */
  -webkit-transition: all .6s, .6s, .6s;
  display: inline-block;
  font-size: 30px;
  margin-top: 20px;
  padding: 20px 34px 26px;
  text-decoration: none;
  text-shadow: 0 1px 0 black; }
  .signup:hover {
    background: #90dbd5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90dbd5), color-stop(50%, #55dbd0), color-stop(51%, #5adcd3), color-stop(100%, #dbdbdb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* IE10+ */
    background: linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* W3C */
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.existingSignin {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 12% 50px; }
  .existingSignin a {
    font-weight: bold;
    text-decoration: none; }

@media only screen and (max-width: 1618px) {
  #bottom section:nth-child(3) {
    padding-left: 200px; } }
@media only screen and (max-width: 1080px) {
  #home h1 {
    font-size: 100px; }

  #bottom {
    padding-right: 10px;
    padding-left: 10px; } }
@media only screen and (max-width: 838px) {
  #bottom section:nth-child(3) {
    padding-left: 20px; } }
@media only screen and (max-width: 800px) {
  #home h1 {
    font-size: 60px;
    margin-top: 20px;
    padding: 6px; }

  #bottom section {
    float: none;
    width: 90%; } }
@media only screen and (max-width: 400px),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (-webkit-min-device-pixel-ratio: 2) {
  #home h1 {
    margin-left: -20px;
    font-size: 54px; }

  .signup {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 40px; }

  .existingSignin {
    top: -5px;
    padding-right: 5px;
    font-size: smaller; } }
form input {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  padding: 8px 10px 6px;
  position: absolute;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #BBB;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  outline: none;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear; }
  form input:focus {
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    border-color: #AAA; }
form input[type="submit"] {
  position: static;
  color: #FFF;
  cursor: pointer;
  background: #5adcd3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5adcd3), color-stop(50%, #55dbd0), color-stop(51%, #5adcd3), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* IE10+ */
  background: linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* W3C */
  -webkit-transition: all .6s, .6s, .6s; }
  form input[type="submit"]:hover {
    background: #90dbd5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90dbd5), color-stop(50%, #55dbd0), color-stop(51%, #5adcd3), color-stop(100%, #dbdbdb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* IE10+ */
    background: linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* W3C */
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
form label {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  color: #666;
  padding: 11px 10px 4px;
  position: absolute; }
form .inputWrapper {
  float: left;
  height: 60px;
  position: relative;
  width: 250px; }

#errorExplanation {
  background: rgba(255, 255, 194, 0.8);
  border: 1px solid #FFF;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  max-width: 700px;
  padding: 8px; }
  #errorExplanation h2 {
    margin: 10px 0; }
