/**
* Mixins
*/
html {
  background: url(/images/grayBg.png); }

body {
  font-family: 'News Cycle';
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-shadow: 0 1px 0 white; }

h1 {
  color: #a6734b;
  font-family: 'Molengo';
  font-size: 46px;
  letter-spacing: .5px;
  margin: 0;
  width: 80%; }

h2 {
  color: #469B98;
  font-size: 34px;
  font-weight: normal; }
  h2 em {
    color: #47639d;
    font-style: normal; }

header {
  border-bottom: 1px solid #FFF;
  background-color: #006c6d;
  padding: 0 10%; }
  header h1 {
    display: inline; }
    header h1 a {
      color: #a6734b;
      text-decoration: none; }
  header #helloAgain {
    float: right;
    padding-top: 24px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3); }

#main {
  padding: 0 10%; }

/**
* Home Page
*/
#home {
  background: #FFF; }
  #home h1 {
    font-size: 148px;
    text-shadow: 0 2px 0 white; }

#top {
  background: url(/images/bg.png);
  position: relative;
  text-shadow: 0 2px 0 white;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  padding: 10px 16% 70px; }

#bottom {
  padding: 10px 16% 50px;
  min-height: 400px; }
  #bottom section {
    float: left;
    padding: 0 20px;
    text-align: center;
    width: 29%; }
    #bottom section img {
      border: 6px solid #FFF;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      display: block;
      margin: 26px auto 0; }

.teaser {
  font-size: 28px; }

.signup {
  background: #5adcd3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5adcd3), color-stop(50%, #55dbd0), color-stop(51%, #5adcd3), color-stop(100%, #dbdbdb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* IE10+ */
  background: linear-gradient(top, #5adcd3 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
  /* W3C */
  border-radius: 8px;
  border: 1px solid #FFF;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: inline-block;
  font-size: 30px;
  margin-top: 20px;
  padding: 20px 34px 26px;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
  -webkit-transition: background, box-shadow, text-shadow .6s, .6s, .6s; }
  .signup:hover {
    background: #90dbd5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #90dbd5), color-stop(50%, #55dbd0), color-stop(51%, #5adcd3), color-stop(100%, #dbdbdb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* IE10+ */
    background: linear-gradient(top, #90dbd5 0%, #55dbd0 50%, #5adcd3 51%, #dbdbdb 100%);
    /* W3C */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.existingSignin {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 16% 50px; }
  .existingSignin a {
    font-weight: bold;
    text-decoration: none; }

form input {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  background: none;
  left: 0;
  padding: 8px 10px 6px;
  position: absolute;
  width: 200px; }
form input[type="submit"] {
  position: static; }
form label {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  color: #DDD;
  padding: 14px 10px 8px; }
form .inputWrapper {
  float: left;
  height: 60px;
  position: relative;
  width: 250px; }
