<h2>Get a new password</h2>

<p>Enter your email address and you'll receive an email with instructions to set a new password.</p>

<%= form_tag send_password_reset_users_path do %>
	<div class="inputWrapper">
		<%= label_tag 'email', 'Email' %>
		<%= email_field_tag :email %>
	</div>
	<%= submit_tag 'Send It', disable_with: 'Sending...' %>
<% end %>
