<h2><%= heading ||= "Your list" %></h2>
<% if empty %>
<% emptyMessage = "Videos will appear here" if current_user.created_at > 2.days.ago %>
<h3><%= emptyMessage ||= "There's nothing here :|" %></h3>
<% end %>