<% if defined? visible %>
<ul class="tagList">
<% else %>
<ul class="tagList hide">
<% end %>
<% @tags.each do |tag| %>
  <li class="tag">
	<a href="<%= tagged_videos_path %>?with=<%= tag['_id'] %>">
    <span class="name"><%= tag['_id'] %></span>
		<span class="count">(<%= tag['value'].to_i %>)</span>
	</a>
  </li>
<% end %>
</ul>