<%= render partial: "heading", locals: { 
					 heading: "Your favorites",
					 emptyMessage: "You haven't favorited anything yet"
} %>
<%= render partial: "nav" %>
<section class="faves videoList">
	<%= render @videos %>
</section>