<%= render partial: "heading", locals: { 
					 heading: "Your favorites",
					 emptyMessage: "You haven't favorited anything yet",
           empty: @videos.empty?
} %>
<%= render partial: "nav", locals: { tags: @tags } %>

<section class="faves videoList">
	<%= render @videos %>
</section>