<%= render :partial => "heading", :locals => { 
							:heading => "Your favorites",
							:videos => @videos,
							:emptyMessage => "You haven't favorited anything yet"
} %>
<nav>
	<%= link_to "All videos", videos_path %>
</nav>
<section class="faves">
	<%= render @videos %>
</section>