<h2>Your queue</h2>
<% if @videos.empty? %>
	<h3>There's nothing here :|</h3>
<% end %>

<% @videos.each do |video| %>
	<div class="video">
		<span class="title">
			<%= video.title %>
		</span>
		<span class="content">
			<%= video.content %>
		</span>
		<span class="aux">
			<%= link_to "Delete", destroy_video_path %>
		</span>
	</div>
<% end %>