<%= render :partial => "heading", :locals => { 
							:heading => "Your list",
							:videos => @videos,
							:emptyMessage => "There's nothing here"
} %>
<nav>
<%= link_to "Favorites", faves_path %>
</nav>
<%= render :partial => "list", :locals => { :videos => @videos } %>