<%= render :partial => "heading", :locals => { 
							:heading => "Your list",
							:videos => @videos,
							:emptyMessage => "There's nothing here"
} %>
<nav>
	<%= link_to "Favorites", faves_path %>
</nav>
<section class="queue">
	<%= render @videos %>
	<%= will_paginate @videos %>
</section>