<%= render partial: "heading", locals: {
      heading: @tag,
      emptyMessage: "No tags",
      empty: @videos.empty?
} %>

<%= render partial: "nav", locals: { tags: @tags } %>

<% if notice %>
  <div class="notice"><%= notice %></div>
<% end %>

<section class="queue videoList">
  <%= render @videos %>
</section>
