<div class='bookmarklet'>
  <h2><%= heading ||= "Save videos for later while you browse the web." %></h2>
  <%= content_tag :a, "CatchLater", onclick: "alert('Drag this button to the bookmarks bar')", href: bookmarklet, class: 'button' %>
  <div>
    <aside><span id='hand'>â˜</span> Drag this button up to your bookmarks bar</aside>
  </div>
  <div class='instructions'>
    <%= bookmarklet_instructions %>
  </div>
</div>