<footer>
  <ul>
    <li><a href='/faq'>FAQ</a></li>
    <li><a href='/privacy'>Privacy</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/bookmarklet'>Bookmarklet</a></li>
  </ul>
</footer>