<head>
	<meta name="viewport" content="width=device-width">
	<link href='/favicon.ico' rel='icon' type='image/x-icon'>
	<title>CatchLater</title>
	<%= stylesheet_link_tag 'application' %>
  <link href="http://fonts.googleapis.com/css?family=Molengo:regular|News+Cycle|Sue+Ellen+Francisco" rel="stylesheet" type="text/css">
  <%= csrf_meta_tag %>
  <% if controller.controller_name == 'videos' && current_user %>
  <%= auto_discovery_link_tag :atom, '/videos/feed.atom?key=' + current_user.feedKey %>
  <% end %>
</head>
