<header>
	<h1><a href="/">CatchLater</a></h1>
	<span id="helloAgain">
		<% if current_user %>
		<span class='greeting'>
      Hello, <%= link_to current_user.email, edit_user_path(current_user.id), :class => 'userLink' %>.
    </span>
		<%= link_to "Sign out", signout_path, :class => 'signout' %>
		<% end %>
	</span>
</header>
