<h1>CatchLater</h1>
<section class="teaser">
	<p>Save videos from around the web in a single queue.</p>
	<p>It's totally free. It's totally awesome.</p>
</section>
<%= link_to "Sign up!", signin_url, :class => "signup" %>