<div id="top">
	<h1>CatchLater</h1>
	<section class="existingSignin">Already a user? <%= link_to "Sign in", signin_url %></section>
	<section class="teaser">
		<p>Save videos from around the web in a single queue.</p>
		<p>It's totally free. It's totally awesome.</p>
	</section>
	<%= link_to "Sign up!", signin_url, :class => "signup" %>
</div>
<div id="bottom">
	<section>
		<h2><em>See</em> a video</h2>
		<caption>Looks good, but you don't have time or aren't in the mood.</caption>
		<img src="" alt="Long video that's inconvenient to watch just now">
	</section>
	<section>
		<h2><em>Save</em> for later</h2>
		<caption>Just click a handy bookmarklet. Pow! Saved for later.</caption>
		<img src="" alt="Click a bookmarklet">
	</section>
	<section>
		<h2><em>Popcorn</em> time</h2>
		<caption>Watch the video anytime later, at your leisure!</caption>
		<img src="" alt="Watch the video later">
	</section>
</div>