.ui-widget-overlay {
  background-color: #CCC;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  filter:Alpha(Opacity=50);
}
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #AAA;
  opacity: .30;
  filter:Alpha(Opacity=30);
  @include borderRadius(8px);
}
.ui-dialog {
  @include boxShadow;
  background:#EDEDED;
  @include borderRadius;
  position: absolute;
  width: 300px;
  .ui-dialog-titlebar {
    @include topLeftRadius(4px);
    @include topRightRadius(4px);
    background: #e9e9e9; /* Old browsers */
    background: -moz-linear-gradient(top, #e9e9e9 0%, #afafaf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#afafaf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e9e9e9 0%,#afafaf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e9e9e9 0%,#afafaf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e9e9e9 0%,#afafaf 100%); /* IE10+ */
    border-bottom: 1px solid #D7D7D7;
    padding: .4em 1em;
    position: relative;
    overflow: hidden;
  }
  .ui-dialog-title {
    float: left;
    font-size: 17px;
    font-weight: bold;
    margin: .1em 14px .1em 0;
    overflow: hidden;
    text-shadow: none;
  }
  .ui-dialog-titlebar-close {
    background: none;
    border: 0;
    font-size: smaller;
    position: absolute;
    right: .3em;
    text-decoration: none;
  }
  .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    overflow: auto;
    zoom: 1;
  }
  .ui-dialog-buttonpane {
    overflow: hidden;
    .ui-dialog-buttonset {
      float: right;
    }
    button {
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #ececec 50%, #eeeeee 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ececec), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 0%,#ececec 50%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 0%,#ececec 50%,#eeeeee 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffffff 0%,#ececec 50%,#eeeeee 100%); /* IE10+ */
      background: linear-gradient(top, #ffffff 0%,#ececec 50%,#eeeeee 100%); /* W3C */
      border: 1px solid #D0D0D0;
      @include borderRadius(4px);
      box-shadow: 0 0.9px 5px rgba(0,0,0,0.1);
      &:hover, &:focus {
        background: #EFEFEF;
        box-shadow: 0 0.9px 5px rgba(0,0,0,0.2);
      }
      margin: .5em .4em .5em 0;
      cursor: pointer;
    }
  }
}