@mixin font {
  font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size:20px;
}
.users, .sessions {
  #emailDialog {
    text-align: center;
    input {
      display: block;
      margin: auto;
      position: static;
      width: 80%;
      &[type='submit'] {
        margin: 20px auto;
      }
    }
  }
  .nativeLogin,
  .thirdPartyLogin {
    margin: 3em 0;
    position: relative;
    aside {
      float: right;
      position: absolute;
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      right: 0;
      &.arrow {
        background: center 49px url(/assets/arrow.png) no-repeat;
        height: 80px;      
        top: -92px;
      }
    }
    .fbLink,
    .twitterLink {
      border: 1px solid #999;
      color: #FFF;
      @include borderRadius(6px);
      @include boxShadow(0, 7px, 0.4);
      display: block;
      font-size:1.5em;
      height: 90px;
      margin: 10px auto;
      padding: 0.7em;
      padding-left: 110px;
      text-decoration: none;
      text-shadow: none;
      width: 380px;
      @include linearTransition();
      &:hover,
      &:focus {
        @include boxShadow(0, 8px, 0.8);
      }
    }
    .fbLink {
      background: #3B5B99 url(/assets/fb.png) no-repeat;
    }
    .twitterLink {
      background: #00D7FB url(/assets/twitter.png) no-repeat;
    }
  }
  .separator {
    overflow: hidden;
    padding: 10px 0;
    em {
      top: -19px;
      position: relative;
      float: left;
      margin: 0 1%;
    }
    hr {
      float: left;
      width: 48%;
      margin: 0;
    }
  }
  .nativeLogin {
    a,
    form {
      display: block;
      margin: auto;
      width: 55%;
    }
  }
  form {
    overflow:hidden;
    input {
      @include font;
      background:rgba(255, 255, 255, .6);
      left:0;
      padding:8px 10px 6px;
      position:absolute;
      width:200px;
      @include borderRadius(5px);
      border:1px solid #BBB;
      box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset;
      outline:none;
      @include linearTransition();
      &:focus { 
        background:#FFF;
        box-shadow:0 1px 3px rgba(0, 0, 0, .3) inset;
        border-color:#AAA;
      }
    }
    input[type="submit"] {
      position:static;
      @include button;
    }
    label {
      @include font;
      color:#666;
      padding:11px 10px 4px;
      position:absolute;
    }
    .inputWrapper {
      float:left;
      height:60px;
      position:relative;
      width:250px;
    }
  }
  #errorExplanation {
    background:rgba(255, 255, 194, .8);
    border:1px solid #FFF;
    @include borderRadius(6px);
    @include boxShadow(1px, 6px, 0.2);
    margin-bottom:20px;
    max-width:700px;
    padding:8px;
    h2 {
      margin:10px 0;
    }
  }
}