/**
 * Home Page
 */
@mixin homepad($bottom: 50px) {
  padding:10px 12% $bottom;
}

#home {
  border-top:4px solid #2DB6B6;
  background:#384A6F;
  h1 {
    font-size:148px;
    letter-spacing:-3px;
    @include textShadow;
  }
  #top {
    background:url(/assets/bg.png);
    position:relative;
    text-shadow:none;
    @include boxShadow(3px, 9px);
    @include homepad(70px);
  }
  #bottom {
    background: #FFF;
    @include homepad;
    min-height:400px;
    section {
      float:left;
      padding:0 20px;
      text-align:center;
      text-shadow: none;
      width:33%;
      div {
        border:6px solid #FFF;
        @include boxShadow(0, 8px);
        @include borderRadius(10px);
        height: 90px;
        margin:26px auto 0;
        position: relative;
        width: 214px;
        img {
          left: 0;
          position: absolute;
          &.sample-1 {
            clip: rect(84px, 200px, 168px, 0);
            top: -86px;
          }
          &.sample-2 {
            clip: rect(0, 200px, 84px, 0);
          }
          &.sample-3 {
            clip: rect(168px, 200px, 252px, 0);
            top: -170px;
          }
        }
      }
    }
  }
  .teaser {
    font-size:28px;
  }
  .signup {
    @include borderRadius(8px);
    border:1px solid #FFF;
    @include boxShadow;
    @include button;
    display:inline-block;
    font-size:30px;
    margin-top:20px;
    padding:20px 34px 26px;
    text-decoration:none;
    @include textShadow(1px, #000);
  }
  .existingSignin {
    position:absolute;
    right:0;
    top:0;
    @include homepad;
    a {
      font-weight:bold;
      text-decoration:none;
    }
  }
  .image {
    float: right;
    position: relative;
    top: -330px;
    width: 100%;
    span {
      background: url(vids.png) no-repeat;
      border: 6px solid #FFF;
      box-shadow: 0 0 6px rgba(0, 0, 0, .4);
      position: absolute;
      -webkit-backface-visibility: hidden;
    }
    #video1 {
      height: 255px;
      right: 2%;
      top: 34px;
      width: 411px;
    }
    #video2 {
      background-position: 0 -243px;
      height: 244px;
      right: 4%;
      top: 4px;
      width: 411px;
      -webkit-transform: rotate(-1deg);
    }
    #video3 {
      background-position: 0 -475px;
      height: 268px;
      top: 60px;
      right: 3%;
      width: 471px;
      -webkit-transform: rotate(1deg);
    }
  }
}
/**
 * Bookmarklet page
 */
.bookmarklet {
  clear: both;
  text-align: center;
  #hand {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-animation-duration: 1.4s;
    -webkit-animation-name: bounce;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -moz-animation-duration: 1.4s;
    -moz-animation-name: bounce;
    -moz-animation-iteration-count: 2;
    -moz-animation-direction: alternate;
    display: inline-block;
    position:relative;
  }
  .button {
    @include button;
    box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset;
    display:inline-block;
    font-size: 2em;
    margin: 20px;
    padding: 10px 40px 16px;
    text-decoration: none;
    cursor: url(/assets/grab.cur), default !important;
  }
  .instructions {
    border-top:1px dashed #CCC;
    font-weight: bold;
    margin: 70px 0;
    padding-top: 50px;
    ol {
      margin: auto;
      text-align: left;
      width: 60%;
      li {
        font-weight: normal;
        margin: 12px 0;
        &:last-child {
          background: url(/assets/instructions/capture.png) no-repeat 0 76px;
          height: 470px;
        }
      }
      &#ie {
        li {
          background: url(/assets/instructions/ie.png) no-repeat 0 60px;
          &.first-step {
            height: 385px;
            width: 370px;
          }
          &.second-step {
            background-position: -382px 60px;
            height: 400px;
            width: 500px;
          }
          &.third-step {
            background: url(/assets/instructions/capture.png) no-repeat 0 76px;
            height: 470px;
          }
        }
      }
      &#ff {
        li {
          &:first-child,
          &:nth-child(2) {
            background: url(/assets/instructions/ff.png) no-repeat 0 76px;
            height: 330px;
            width: 502px;
          }
          &:nth-child(2) {
            background-position: -502px 72px;
            height: 224px;
          }
        }
      }
      &#chrome {
        li {
          &:first-child,
          &:nth-child(2) {
            background: url(/assets/instructions/chrome.png) no-repeat 0 60px;
            height: 214px;
            width: 621px;
          }
          &:nth-child(2) {
            background-position: -621px 72px;
            height: 199px;
          }
        }
      }
      &#safari {
        li {
          &:first-child,
          &:nth-child(2) {
            background: url(/assets/instructions/safari.png) no-repeat center 50px;
            height: 214px;
          }
          &:nth-child(2) {
            background-position: center -395px;
            height: 190px;
          }
        }
      }
      &#ios {
        li {
          background: url(/assets/instructions/ios.png) no-repeat 0 64px;
          width: 200px;
          &:first-child {
            background: none;
          }
          &:nth-child(2) {
            height: 230px;
          }
          &:nth-child(3) {
            background: none;
            ol {
              margin: 0;
              padding-left: 4px;
              li {
                list-style-type: lower-alpha;
                background: url(/assets/instructions/ios.png) no-repeat -200px 100px;
                height: 264px;
                &:nth-child(2) {
                  background-position: -400px 130px;
                  height: 280px;
                }
                &:nth-child(3) {
                  background-position: -599px 100px;
                  width: 195px;
                }
              }
            }
          }
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(9),
          &:nth-child(10) {
            background: none;
            height: auto;
          }
          &:nth-child(6) {
            background-position: -793px 100px;
            height: 350px;
          }
          &:nth-child(7) {
            background-position: -994px 100px;
            height: 176px;
          }
          &:nth-child(8) {
            background-position: -1193px 100px;
            height: 275px;
          }
        }
      }
    }
  }
}
@-webkit-keyframes bounce {
  from {
    bottom: -20px;
  }
  to {
    top: -20px;
  }
}
@-moz-keyframes bounce {
  from {
    bottom: -20px;
  }
  to {
    top: -20px;
  }
}