/**
* Mixins
*/
@mixin nopad {
  padding:0;
}
@mixin nomargin {
  margin:0;
}
@mixin wrapping {
  padding:0 10%;
}
@mixin boxShadow($down: 3px, $blur: 5px, $opacity: 0.3, $inset: "") {
  box-shadow: 0 $down $blur rgba(0, 0, 0, $opacity) #{$inset};
}
@mixin textShadow($down: 2px, $color: #FFF) {
  text-shadow:0 $down 0 $color;
}
@mixin button {
  background: #5adcd3;
  border: 1px solid #BBB;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  &:focus, &:hover {
    background: #90dbd5;
    @include boxShadow(1px, 1px, .1, inset);
    @include textShadow(1px, rgba(0, 0, 0, 0.2));
  }
  &:active {
    @include boxShadow(1px, 3px, .3, inset);
  }
}
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}
@mixin backfaceVisibility($value) {
  -webkit-backface-visibility: $value;
  -moz-backface-visibility: $value;
  backface-visibility: $value;
}