@mixin smallVideoArea {
  margin: auto;
  width: 90%;
}

@media only screen and (max-width: 1500px) {
  #home {
    .image {
      height: 200px;
      top: -138px;
      -webkit-transform: scale(.9);
      -moz-transform: scale(.9);
      width: 70%;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .videos section .video .actions .shareDropdown {
    right: 2%;
  }
}
@media only screen and (max-width: 876px) {
  #home {
    h1 {
      font-size:5em;
    }
    .image {
      float: none;
      height: 250px;
      top: 0;
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
    }
  }
}
@media only screen and (max-width: 800px) {
  #home {
    #bottom {
      section {
        float: none;
        width: 100%;
      }
    }
  }
  header {
    #helloAgain {
      font-size: .89em;
    }
  }
  .videos {
    section {
      .video {
        iframe {
          @include smallVideoArea;
          height: 350px;
        }
        .tags,
        .aux {
          @include smallVideoArea;
        }
      }
    }
  }
}
@media only screen and (max-width: 630px) {
  header {
    #helloAgain {
      a {
        &.userLink {
          background: url(/assets/icons.png) -3px -290px no-repeat;
          color: transparent;
          display: block;
          font-size: 0;
          height: 20px;
          left: -20px;
          margin-top: 10px;
          position: relative;
          top: -33px;
          width: 20px;
        }
        &.signout {
          position: relative;
          top: -62px;
        }
      }
      .greeting {
        font-size: 0;
        color: transparent;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  #home {
    h1 {
      font-size: 4em;
    }
    .existingSignin {
      font-size: smaller;
    }
    .image {
      height: 260px;
      right: -50px;
    }
  }
  .users, .sessions {
    .thirdPartyLogin {
      aside {
        width: 230px;
        right: -40px;
        line-height: 1.1em;
        &.arrow {
          top: -111px;
        }
      }
    }
    .nativeLogin {
      margin: 0;
      form {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
    form {
      input,
      .inputWrapper {
        width: 100%;
      }
    }
  }
  .videos {
    section {
      .video {
        iframe {
          height: 200px;
          @include smallVideoArea;
        }
        .tags,
        .aux {
          @include smallVideoArea;
          .actions .shareDropdown {
            right: 2%;
            ul {
              display: block;
              margin: 42px 0 0;
              text-align: center;
              width: 167px;
              &::before {
                left: auto;
                right: 50px;
              }
              li {
                border: 0;
                &.source {
                  float: none;
                  text-align: center;
                }
              }
            }
          }
        }
        .tags form textarea {
          /* TextExt requires hard width
             or it mangles things */
          width: 300px;
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  #home {
    h1 {
      margin-left:-20px;
      font-size:54px;
    }
    .signup {
      margin: auto;
      display: block;
      text-align: center;
      font-size: 40px;
    }
    .existingSignin {
      top:-5px;
      padding-right:5px;
    }
    .image {
      display: none;
    }
  }
  .users, .sessions {
    .fbLink,
    .twitterLink {
      font-size: 1em !important;
      width: 100% !important;
    }
    aside {
      font-size: .89em;
    }
    .thirdPartyLogin {
      margin: 0 0 20px;
      aside {
        width: 130px;
        right: -30px;
      }
    }
  }
  .videos {
    .tagList {
      margin:0;
      padding:0;
    }
    section {
      .video {
        iframe {
          height: 200px;
          @include smallVideoArea;
        }
        .tags form textarea {
          /* TextExt requires hard width
             or it mangles things */
          width: 200px;
        }
      }
    }
  }
  .bookmarklet { 
    .buttonArea {
      display: none;
    }
    .instructions {
      textarea, 
      ol {
        display: block;
        margin: 0;
        width: 100%;
      }
      textarea {
        margin: 4px 0 30px;
      }
    }
  }
  header {
    height: 100px;
    position: relative;
    #helloAgain {
      a.userLink {
        position: static;
      }
      a.signout {
        position: absolute;
        right: 10%;
        top: 12px;
      }
    }
  }
  nav {
    position: absolute;
    top: 50px;
    left: 10%;
  }
  footer {
    ul {
      display: block;
      width: 100%;
      margin: 10px auto;
      li {
        float: none;
        display: inline;
      }
    }
  }
}
