@mixin videoArea {
  margin: auto;
  width: 560px;
}

nav {
  float:right;
  position:relative;
  top:-64px;
}

.videos section {
  text-align:center;
  .video {
    border-bottom:1px solid #E2E2E2;
    border-top:2px solid #FFF;
    padding:70px 0 30px;
    &:first-child { border-top:0; }
    iframe {
      border: 0;
      height: 349px;
	  @include boxShadow(0, 5px, 0.9);
      @include videoArea;
    }
    .content {
      position:relative;
    }
    .fave {
      background-color:#FFF;
      @include boxShadow(1px, 3px, 0.1);
      @include topRightRadius(4px);
      @include bottomRightRadius(4px);
      font-size:0;
      position: absolute;
      width: 7px;
      height: 22px;
      border: 1px solid #D0D0D0;
      -webkit-transition: width .2s linear;
      -moz-transition: width .2s linear;
      &.selected,
      &:hover, &:focus {
        background:#FFF url(/assets/fave.png) no-repeat 0 1px;
        width:24px;
      }
      &.selected {
        background-position:0 -24px;
      }
    }
    .aux {
      display:block;
      margin: auto;
      overflow:hidden;
      @include videoArea;
      text-align:right;
      > a {
        color:#000;
        padding-left:7px;
      }
      .date {
        float:left;
      }
      .actions {
        float:right;
        margin-top:5px;
        .delete,
        .share {
          font-size:0;
          color:transparent;
          display:block;
          width:32px;
          height:32px;
          float:left;
          -webkit-transition: all .3s linear;
          -moz-transition: all .3s linear;
          &:focus,
          &:hover {
            opacity:1;
          }
        }
        .share {
          background:url(/assets/action.png) no-repeat;
          opacity:.1;
        }
        .delete {
          background:url(/assets/trash.png) no-repeat 0 2px;
          opacity:.13;
        }
        .shareDropdown {
          position:absolute;
          ul {
            background:#FFFC17;
            @include borderRadius(4px);
            -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, .3);
            -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, .3);
            box-shadow:1px 2px 3px rgba(0, 0, 0, .3);
            margin:42px 0 0 -120px;
            overflow:hidden;
            padding:6px;
            opacity:0.6;
            z-index:100;
            min-width:340px;
            li {
              float:left;
              list-style-type:none;
              border-bottom:1px solid #06308f;
              padding-bottom:4px;
              a {
                display:block;
                padding:0 6px 4px;
                text-decoration:none;
                -webkit-transition: text-shadow .3s linear;
                -moz-transition: text-shadow .3s linear;
                &:focus,
                &:hover {
                  text-shadow:0 3px 3px rgba(255, 255, 255, 1);
                }
              }
              &.source {
                float:none;
                text-align:center;
                border-bottom:0;
                font-size:smaller;
                a {
                  padding-top:4px;
                }
              }
            }
            &::before { /* nib */
              border-bottom:10px solid #FFFC17;
              border-left:10px solid transparent;
              border-right:10px solid transparent;
              content:" ";
              height:0;
              left:-36px;
              position:absolute;
              top:32px;
              width:0;
            }
          }
        }
      }
    }
    .tags {
      display:block;
      font-size:.86em;
      @include videoArea;
      text-align:left;
	  form {
          margin:6px 0;
		  .text-core {
	          @include borderRadius(5px);
		  }
	  }
      textarea {
        cursor:pointer;
        padding:4px;
        width:540px;
		background: none;
		font-size: 12px;
		outline: none;
		border: 0;
        opacity:.3;
        box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset;
        -webkit-transition:all .6s;
        &:hover, &:focus, &:active {
          opacity:1;
		  box-shadow:0 0 0 rgba(0, 0, 0, .1);
        }
      }
    }
  }
/*  .pagination {
    padding:20px 0;
    .disabled {
      display:none;
    }
    .current {
      font-style:normal;
    }
    a {
      padding:0 5px;
    }
  }*/
}