@mixin videoArea {
  margin: auto;
  width: 640px;
}

nav {
  float:right;
  position:relative;
  top:-64px;
  #tagDropdown {
    color: #000;
    text-decoration: none;
  }
}

.videos section {
  text-align:center;
  .video {
    border-bottom:1px solid #E2E2E2;
    border-top:2px solid #FFF;
    padding:100px 0 50px;
    &:first-child { border-top:0; }
    video {
      @include boxShadow(0, 5px, 0.9);    
    }
    iframe {
      border: 0;
      height: 385px;
      overflow: hidden;
      @include boxShadow(0, 5px, 0.9);
      @include videoArea;
    }
    .content {
      position:relative;
    }
    .fave {
      background-color:#FFF;
      @include boxShadow(1px, 3px, 0.1);
      @include topRightRadius(4px);
      @include bottomRightRadius(4px);
      font-size:0;
      position: absolute;
      width: 7px;
      height: 22px;
      border: 1px solid #D0D0D0;
      @include linearTransition(.2s);
      &.selected,
      &:hover, &:focus {
        background:#FFF url(/assets/fave.png) no-repeat 0 1px;
        width:24px;
      }
      &.selected {
        background-position:0 -24px;
      }
    }
    .aux {
      display:block;
      margin: auto;
      overflow:hidden;
      @include videoArea;
      text-align:right;
      > a {
        color:#000;
        padding-left:7px;
      }
      .date {
        color:#c3d6d5;
        float:left;
        @include linearTransition(.2s);
        &:hover {
          color: #222;
        }
      }
      .actions {
        float:right;
        margin-top:5px;
        .delete,
        .share {
          font-size:0;
          color:transparent;
          display:block;
          width:32px;
          height:32px;
          float:left;
          @include linearTransition(.3s);
          &:focus,
          &:hover {
            opacity:1;
          }
        }
        .share {
          background:url(/assets/action.png) no-repeat;
          opacity:.1;
        }
        .delete {
          background:url(/assets/trash.png) no-repeat 0 2px;
          opacity:.13;
        }
        .shareDropdown {
          position:absolute;
          z-index:100;
          ul {
            background:#FFFC17;
            @include borderRadius(4px);
            -webkit-box-shadow:1px 2px 3px rgba(0, 0, 0, .3);
            -moz-box-shadow:1px 2px 3px rgba(0, 0, 0, .3);
            box-shadow:1px 2px 3px rgba(0, 0, 0, .3);
            margin:42px 0 0 -120px;
            overflow:hidden;
            padding:6px;
            opacity:0.6;
            z-index:101;
            width:360px;
            li {
              float:left;
              list-style-type:none;
              border-bottom:1px solid #06308f;
              padding-bottom:4px;
              a {
                display:block;
                padding:0 6px 4px;
                text-decoration:none;
                @include linearTransition(.3s);
                &:focus,
                &:hover {
                  text-shadow:0 3px 3px rgba(255, 255, 255, 1);
                }
              }
              &.source {
                text-align:center;
                border-bottom:0;
                font-size:smaller;
                width:50%;
                a {
                  padding-top:4px;
                }
              }
            }
            &::before { /* nib */
              border-bottom:10px solid #FFFC17;
              border-left:10px solid transparent;
              border-right:10px solid transparent;
              content:" ";
              height:0;
              left:-36px;
              position:absolute;
              top:32px;
              width:0;
            }
          }
        }
      }
    }
    .tags {
      display:block;
      font-size:.86em;
      @include videoArea;
      text-align:left;
      form {
        margin:6px 0;
        label {
          color: #999;
        }
        textarea {
          border: 0;
          height: 22px;
          width: 540px;
        }
        .tip {
          font:21px 'Sue Ellen Francisco';
          background: rgba(244, 248, 137, 0.6);
          margin-top: 6px;
          position: absolute;
          @include textShadow(1px);
        }
      }
    }
  }
  // TextExt Overrides
  .text-core {
    background: rgba(251, 251, 251, .3);
    @include boxShadow(0, 2px, 0.1);
    @include borderRadius(5px);
    margin-top: 4px;
    .text-wrap {
      .text-tags .text-tag .text-button {
        @include borderRadius(3px);
        a.text-remove {
          @include borderRadius(8px);
        }
        .text-label {
          @include textShadow(1px);
        }
      }
      .text-dropdown .text-list .text-suggestion.text-selected {
        @include textShadow(0);
      }
    }
    &.focus {
      background: rgba(255, 255, 255, .8);
      box-shadow: 0 0 0 rgba(46, 119, 149, .5);
    }
  }
}

#up {
  background: #FFF;
  background: rgba(255, 255, 255, 0.7);
  bottom: 10px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 5px 9px 7px;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  @include boxShadow(3px, 3px, 0.5);
}