@mixin videoArea {
  margin: auto;
  width: 560px;
}
nav {
  float:right;
  position:relative;
  top:-64px;
}
.videos section {
  text-align:center;
  .video {
    border-bottom:1px solid #E2E2E2;
    border-top:2px solid #FFF;
    padding:70px 0;
    &:first-child { border-top:0; }
    iframe {
      border: 0;
      height: 349px;
      @include videoArea;
    }
    .content {
      position:relative;
    }
    .fave {
      background-color:#FFF;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      font-size:0;
      position: absolute;
      width: 7px;
      height: 22px;
      border: 1px solid #D0D0D0;
      -webkit-transition: width .2s linear;
      -moz-transition: width .2s linear;
      &.selected,
      &:hover, &:focus {
        background:#FFF url(/assets/fave.png) no-repeat 0 1px;
        width:24px;
      }
      &.selected {
        background-position:0 -24px;
      }
    }
    .aux {
      display:block;
      margin: auto;
      overflow:hidden;
      @include videoArea;
      text-align:right;
      > a {
        color:#000;
        padding-left:7px;
      }
      .date {
        float:left;
      }
      .actions {
        float:right;
        .delete,
        .share {
          font-size:0;
          color:transparent;
          display:block;
          width:32px;
          height:32px;
          float:left;
        }
        .share {
          background:url(/assets/action.png) no-repeat;
        }
        .delete {
          background:url(/assets/trash.png) no-repeat;
        }
        .shareDropdown {
          position:absolute;
          ul {
            background:yellow;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            border-radius:4px;
            -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .3);
            -moz-box-shadow:0 1px 0 rgba(0, 0, 0, .3);
            box-shadow:0 1px 0 rgba(0, 0, 0, .3);
            margin:42px 0 0 -120px;
            overflow:hidden;
            padding:6px;
            opacity:0.6;
            li {
              float:left;
              list-style-type:none;
              border-bottom:1px solid #041B4F;
              padding-bottom:4px;
              a {
                padding:0 6px;
                text-decoration:none;
              }
              &.source {
                float:none;
                padding-top:4px;
                text-align:center;
                border-bottom:0;
                font-size:smaller;
              }
            }
            &::before { /* nib */
              border-bottom:10px solid yellow;
              border-left:10px solid transparent;
              border-right:10px solid transparent;
              content:" ";
              height:0;
              left:-36px;
              position:absolute;
              top:32px;
              width:0;
            }
          }
        }
      }
    }
    .tags {
      display:block;
      font-size:.86em;
      @include videoArea;
      text-align:left;
    }
  }
  .pagination {
    padding:20px 0;
    .disabled {
      display:none;
    }
    .current {
      font-style:normal;
    }
    a {
      padding:0 5px;
    }
  }
}