@import "partials/mixins";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: url(/assets/grayBg.png);
}
body {  
  font-family:'News Cycle';
  font-size:20px;
  -webkit-font-smoothing: antialiased;
  @include nomargin;
  @include textShadow(1px);
}
a {
  color:#041B4F;
}
h1 {
  color:#a6734b;
  font-family:'Molengo';
  font-size:46px;
  letter-spacing:.5px;
  @include nomargin;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.4);
  width:80%;
}
h2 {
  color:#469B98;
  font-size:34px;
  font-weight:normal;
  em {
    color:#47639d;
    font-style:normal;
  }
}
h3 {
  color:#555;
  @include textShadow(1px);
}
h3.rule {
  border-bottom:1px solid #BBB;
  padding-bottom:8px;
}
aside {
  font: 1.3em 'Sue Ellen Francisco';
}

header {
  border-bottom:1px solid #FFF;
  background-color:#006c6d;
  @include wrapping;
  h1 {
    display:inline;
    a {
      color:#a6734b;
      text-decoration:none;
      &:active {
        @include textShadow(1px, rgba(255, 255, 255, .2));
      }
    }
  }
  #helloAgain {
    float:right;
    padding-top:24px;
    a {
      text-decoration:none;
    }
    a.signout {
      color:#A2A2A2;
      padding-left:10px;
    }
    a.userLink {
      color:#010101;
      @include linearTransition();
    }
    a.userLink:hover,
    a.userLink:focus {
      color:#A2A2A2;
      text-decoration:underline;
    }
    @include textShadow(1px, rgba(255, 255, 255, .3));
  }
}
footer {
  background: #384a6f;
  border-top: 1px solid #FFF;
  height: 100px;
  margin-top: 4em;
}
.highlight {
  background:#F4F889;
}
.hide { display:none }
.screenReaderOnly {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#main {
  @include wrapping;
}
@import "partials/home";
@import "partials/forms";
@import "partials/video";
@import "partials/dialog";
@import "partials/tags";
