@import "partials/mixins";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background: url(/assets/grayBg.png);
}
body {  
  font-family:'News Cycle';
  font-size:20px;
  -webkit-font-smoothing: antialiased;
  @include nomargin;
  @include textShadow(1px);
}
a {
  color:#041B4F;
}
h1 {
  color:#a6734b;
  font-family:'Molengo';
  font-size:38px;
  letter-spacing:.5px;
  @include nomargin;
  @include textShadow(1px, rgba(255, 255, 255, 0.6));
  width:80%;
}
h2 {
  color:#469B98;
  font-size:34px;
  font-weight:normal;
  em {
    color:#47639d;
    font-style:normal;
  }
}
h3 {
  color:#555;
  @include textShadow(1px);
}
h3.rule {
  border-bottom:1px solid #BBB;
  padding-bottom:8px;
}
aside {
  font: 1.3em 'Sue Ellen Francisco';
}

header {
  border-bottom:1px solid #FFF;
  border-top:4px solid #2DB6B6;
  @include boxShadow(1px, 3px 0.2);
  background:url(demo.png) fixed;
  @include wrapping;
  h1 {
    display:inline;
    a {
      color:#a6734b;
      text-decoration:none;
      @include textShadow(1px, rgba(255, 255, 255, 0.2));
      &:active {
        @include textShadow(1px, rgba(255, 255, 255, 0.6));
      }
    }
  }
  #helloAgain {
    float: right;
    padding-top: 15px;
    text-shadow: none;
    a {
      text-decoration:none;
    }
    a.signout {
      color:#A2A2A2;
      padding-left:10px;
    }
    a.userLink {
      color:#010101;
      @include linearTransition(0.2s);
    }
    a.userLink:hover,
    a.userLink:focus {
      color:#A2A2A2;
      text-decoration:underline;
    }
  }
}
footer {
  background: #384a6f;
  min-height: 100px;
  overflow: hidden;
  text-shadow:none;
  @include wrapping();
  li {
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
    &:last-child {
      float: right;
      font-size: smaller;
      padding-top: 4px;
    }
    a {
      color: #C2C2C2;
      text-decoration: none;
      text-shadow: none;
      &:hover, &:focus {
        color: #FFF;
      }
    }
  }
}
.highlight {
  background:#F4F889;
}
.center {
  text-align: center
}
.hide { display:none }
.screenReaderOnly {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#main {
  @include wrapping;
  padding-bottom: 100px;
}
@import "partials/home";
@import "partials/forms";
@import "partials/video";
@import "partials/dialog";
@import "partials/tags";
