<html>
	<head>
		<title>CatchLater</title>
		<%= stylesheet_link_tag :all %>
		<link href="http://fonts.googleapis.com/css?family=Molengo:regular|News+Cycle" rel="stylesheet" type="text/css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>