<!DOCTYPE html>
<html id="home">
	<head>
		<meta name="viewport" content="width=device-width">
		<link href='/favicon.ico' rel='icon' type='image/x-icon'>
		<title>CatchLater</title>
		<%= stylesheet_link_tag 'application' %>
		<link href="http://fonts.googleapis.com/css?family=Molengo:regular|News+Cycle" rel="stylesheet" type="text/css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>